@{
  Layout = "_Layout";
}

@model Registrar.Models.Student

<h2>Edit</h2>

<h4>Edit Student: @Html.DisplayFor(model => model.StudentName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StudentId)

    @Html.LabelFor(model => model.StudentName)
    @Html.EditorFor(model => model.StudentName)
    @Html.LabelFor(model => model.Enrollment)
    @Html.EditorFor(model => model.Enrollment, new { @student = "enrollment" })


    @Html.Label("Select course")
    @Html.DropDownList("CourseId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>